body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans Hebrew', sans-serif;
    border-style: solid;
    border-color: rgb(0, 35, 100);
    border-width: 0.3vw;
    position: absolute;
    background: rgb(174, 221, 231);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#lastEnterd {
    font-size: 1.07vw;
    margin-top: 0;
}

#appBar {
    height: 10%;
    border-style: solid;
    border-color: rgb(0, 35, 100);
    border-radius: 1.04vw;
    background: #dffcff;
    /* justify-items: end; */
    width: 94%;
}

.inPageHeadlines {
    margin: 0.25vw;
    font-size: 1.9vw;
}

#greetingContainer {
    display: inline-block;
    margin-left: 2%;
}

#rightHeadline {
    display: inline-block;
    word-spacing: -0.4vw;
    line-height: 100%;
    float: right;
    margin: 0;
    background: linear-gradient(180deg, #1726FF 0%, #060057 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.5vw;
    font-weight: 700;
    -webkit-text-stroke-width: 0.3vh;
    -webkit-text-stroke-color: #71ceef;
    filter: drop-shadow(0.1vw 0.1vw 0.1vw #333);
}

#contentContainer {
    direction: rtl;
    justify-content: space-evenly;
    display: flex;
    height: 82vh;
    width: 95vw;
}

#specificItems {
    border-style: solid;
    border-color: rgb(0, 35, 100);
    background-color: #ffffff;
    height: 22vh;
    width: 54vw;
}

#alltems {
    border-style: solid;
    border-color: rgb(0, 35, 100);
    background-color: #ffffff;
    width: 54vw;
    height: 51vh;
}

#itemsContainer {
    border-radius: 15%;
    border-style: solid;
    border-color: rgb(0, 35, 100);
    width: 70vw;
    height: 81vh;
    flex-direction: column;
    align-content: center;
    background: rgb(243, 243, 243);
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 5.5vw;
}

#websiteGreeting {
    font-weight: 500;
    font-size: 1.76vw;
    margin-bottom: 0.5vh;
}

.blueButton {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.4vw;
    background-color: #439EDA;
    border-style: outset outset inset inset;
    border-color: #4bb8f0#4bb8f0 #4bb8f0 #4bb8f0;
    border-width: 1vh;
    color: white;
    width: 60%;
    height: 8%;
}

#buttons-container {
    border-radius: 3.8vh;
    border-style: solid;
    border-color: rgb(0, 35, 100);
    background: rgb(124, 201, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    align-content: center;
    height: 81vh;
    width: 22vw;
}

#galactic {
    font-size: 1.4vw;
}
.blueButton:active{
    border-style: inset inset outset outset ;
    border-color: #4bb8f0 #4bb8f0  #4bb8f0 #4bb8f0;
}