body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    border: solid rgb(0, 35, 100) calc(0.15vw + 0.3vh);
    background: rgb(174, 221, 231);
    display: flex;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

html {
    direction: rtl;

}

#lastEnterd {
    font-size: calc(0.525vw + 1.05vh);
    margin: 0 0 0 0;

}

#topBar {
    height: 10%;
    border: solid rgb(0, 35, 100);
    border-radius: calc(0.502vw + 1.04vh);
    background: #dffcff;
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.titleText {
    margin: 0.5vw;
    font-size: calc(0.9vw + 1.8vh);
}

#greetingbox {
    display: grid;
    align-content: center;
    margin-left: 2%;
}

#titleBox {
    height: 10vh;
    display: flex;
}

#websiteTitle {
    display: flex;
    align-items: center;
    line-height: 100%;
    background-image: linear-gradient(180deg, #3845fb 0%, #060057 100%);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: calc(0.1vw + 0.2vh);
    font-size: calc(2.5vw + 5vh);
    font-weight: 700;
    -webkit-text-stroke-width: calc(0.025vw + 0.05vh);
    -webkit-text-stroke-color: #fff;
    filter: drop-shadow(0 0.3vh #71ceef) drop-shadow(0 -0.3vh #71ceef) drop-shadow(0.15vw 0 #71ceef) drop-shadow(-0.15vw 0 #71ceef) drop-shadow(0vw 0.2vw 0.2vw #333);
}

#contentbox {
    justify-content: space-evenly;
    display: flex;
    height: 82vh;
    width: 95vw;
}

#details {
    border: solid rgb(0, 35, 100);
    background-color: #ffffff;
    height: 22vh;
    width: 54vw;
}

#items {
    display: grid;
    border: rgb(0, 35, 100) solid;
    background-color: #ffffff;
    width: 54vw;
    height: 51vh;
}

#itemsbox {
    border-radius: 15%;
    border: solid rgb(0, 35, 100);
    width: 70vw;
    height: 81vh;
    flex-direction: column;
    background: rgb(243, 243, 243);
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

img {
    margin: 0.5vw;
    width: calc(2.75vw + 5.5vh);
}

#websiteGreeting {
    margin: 0 0 0 0.5vh;
    font-weight: 500;
    font-size: calc(0.88vw + 1.76vh);
}

.button {
    cursor: pointer;
    font-family: inherit;
    width: 60%;
    height: 8%;
    padding-block: 0;
    padding-inline: 0;
    position: relative;
    background-color: #3e85dd;
    color: #ffffff;
    border: none;
    transition: scale 0.5s, box-shadow 0.1s;
    border-radius: calc(0.25vw + 0.5vh);
}

#sidebar {
    border-radius: calc(0.95vw + 1.9vh);
    border: solid rgb(0, 35, 100);
    background: rgb(124, 201, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 81vh;
    width: 22vw;
}


.button:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 3vh;
    border-radius: calc(0.325vw + 0.65vh) calc(0.325vw + 0.65vh) calc(0.75vw + 1.5vh) calc(0.75vw + 1.5vh);
    background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
}



.button:hover {
    transform: scale(1.05);
    box-shadow:
        -1vw 2.4vh calc(0.125vw + 0.25vh) hsla(0, 0%, 0%, 0.15);
}

.pressed {
    transform: scale(0.9);
    box-shadow: none;
}

#clockBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 16vw;
}

#clock {
    display: flex;
    align-items: center;
    font-size: calc(0.8vw + 1.6vh);
    background-color: #ffffcc;
    box-shadow: -0.2vh 0.1vw calc(0.025vw + 0.05vh) calc(-0.5vw - -1vh) rgba(0, 0, 0, 0.75);
}

#clockButton {
    cursor: pointer;
    font-family: inherit;
    width: 7vw;
    height: 5vh;
    margin: 0;
    padding: 0;
    border-width: calc(0.05vw + 0.1vh);
    /* box-shadow: -0.2vh 0.1vw calc(0.2vw + 0.4vh) calc(-0.5vw - -1vh) rgba(0, 0, 0, 0.75); */
    background: linear-gradient(180deg, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
}

#multiChoiceButton {
    position: absolute;
    left: 13vw;
    top: 20vh;
    width: 6vw;
    cursor: pointer;
    padding: 0;
    border-color: rgb(0, 10, 28);
    background-color: #4b79ad;
    font-size: calc(0.6vw + 1.2vh);
    color: #ffffff;
    margin: 0;
    border-width: calc(0.05vw + 0.1vh);
    justify-self: end;



}

.multiChoiceButtonPressed {
    background-color: #fff !important;
    color: rgb(0, 10, 28) !important;
    box-shadow: -0.25vw 0.5vh calc(0.35vw + 0.7vh) calc(0.075vw + 0.15vh) rgba(0, 0, 0, 0.76);

}

#itemsTable {

    border-spacing: calc(0.05vw + 0.1vh);
    text-align: start;
    top: 28vh;
    position: absolute;
    width: 48.5vw;
    left: 14vw;

}

.hidden {
    display: none;
}

.headerCell {
    background-color: #060057;
    text-align: start;
    color: #ffffff;
    font-size: calc(0.5vw + 1vh);
    height: 6vh;
    padding-right: 0.5vw;
}

.detailsTextBox {
    font-size: calc(0.5vw + 1vh);
    height: 3vh;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.bodyRow {
    background-color: #bdbdbd;
}

.bodyRow:hover {
    background-color: #71ceef;

}

.activeRow {
    background-color: #71ceef !important;
}

.lastSelectedRow {
    background-color: #8aef71!important;
}
.bodyCell {
    font-size: calc(0.5vw + 1vh);
    height: 6vh;

    padding: 0 0.5vw 0 0 ;
}

.rowHovered {
    background-color: #71ceef;
}

.rowClicked {
    background-color: #71ceef;
}

#itemsText {
    height: 3vh;
}
 .detailsText{
width: 20vw;

 }